body {
    font-family: 'Josefin Sans', sans-serif !important;
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
!important;
}

.picture {
    margin-right: 0 !important;
    margin: 5px 0 5px 15px;
    padding: 0 0 0 20px !important;
    position: relative !important;
}

.about {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 20px 0 70px;
    float: right;
}

.container {
    overflow: hidden !important;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

h3  {
    color: tomato !important;
}

h4 {
    color: floralwhite !important;
}

img {
    margin-top: 25px;
    height: auto;
    width: 450px;
    -webkit-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
}

#name {
    font-family: 'Josefin Sans', sans-serif !important;
    position: absolute !important;
    padding-left: 80px !important;
    top: 580px !important;
    margin-left: 45px !important;
    color: tomato !important;
}

.icons {
    margin: 20px 0 0 80px;
}

.fa-linkedin-square {
    color: #006fa6;
    border: none;
    text-shadow: -2px 2px 3px rgba(0,0,0,0.5) !important;
    margin-right: 40px !important;
}

.fa-twitter-square {
    color: #1da1f2;
    border: none;
    text-shadow: -2px 2px 3px rgba(0,0,0,0.5) !important;
    margin-right: 40px !important;
}

.fa-github-square {
    color: #333;
    border: none !important;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5) !important;
    margin-right: 40px !important;
}

.fa-linkedin-square:hover {
     text-shadow: -2px 2px 3px rgb(255, 255, 255) !important;
 }

.fa-twitter-square:hover {
    text-shadow: -2px 2px 3px rgb(255, 255, 255) !important;
}

.fa-github-square:hover {
    text-shadow: -2px 2px 3px rgb(255, 255, 255) !important;
}

.welcome {
    color: tomato;
    font-size: 26px;
}

#welcome {
    padding-left: 20px;
    padding-right: 15px;

}

p {
    font-size: 17px;
}


a, a:active, a:focus {
    outline: none !important;
    text-decoration: none !important;
}

li {
    list-style-type: none;
    display: inline;
    text-decoration: none;
}

i {
    margin-right: 20px;
}

#skills {
    padding-left: 0 !important;
    text-decoration: dashed;
    display: block;
    font-size: 15px;
}

.bars {
    color: tomato;
    margin-bottom: 3px;
}

.contact {

    margin-top: 45px;
}

hr {
    display: block !important;
    height: 0.25px !important;
    border: 0 !important;
    border-top: 1px solid thistle !important;
    margin: 2em 0 !important;
    padding: 0 !important;
}

#flask {
    text-align: center !important;
    padding-top: 15px !important;
    margin-bottom:35px !important;
    color: tomato !important;
}

.project {
    margin-bottom: 35px !important;
}

.project h3 {
    text-align: center;
}

#projects-hr {
    width: 80%;
    margin-left: 9% !important;
    vertical-align: middle !important;
}

.project p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: antiquewhite;
}

.thumbnail {
    border: 1px solid tomato !important;
    height: 510px !important;
    margin: 15px 10px 25px 10px !important;
    -webkit-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.thumbnail:hover {
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 3px 5px rgba(255, 99, 71, 0.75) !important;
    -moz-box-shadow: 0px 0px 3px 5px rgba(255, 99, 71, 0.75) !important;
    box-shadow: 0px 0px 3px 5px rgba(255, 99, 71, 0.75) !important;
}

@media only screen and (max-width: 1195px) and (min-width: 850px) {
    .picture {margin-left: 300px;}
}

@media only screen and (max-width: 600px) {

    img {width: 345px;  height: auto; margin-left: 5px; overflow: hidden;}

    #about {margin: 10px; !important;}

    .picture {padding-left: 0; margin-left: 0 !important;}

    .fa-linkedin-square {margin: 10px 10px 10px 30px; !important;}
    .fa-twitter-square {margin-right: 10px; !important;}
    .fa-github-square {margin-right: 10px; !important;}

    #icons {margin: 10px 0 5px 10px; !important;}

    #name {
        font-family: 'Josefin Sans', sans-serif !important;
        position: absolute !important;
        top: 450px !important;
        margin-left: 5px !important;
        color: tomato !important;
    }

}